<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <div class="logo">
        <img src="LMS-logo.png" alt="">
    </div>
    <div class="hello"> </div>

    <div class="login-container1" id="adminLogin">
        <h1>Admin Login</h1>
        <form id="AdminLoginForm">
            <p>Login with your Employee ID and Password to access the services and your account. Keep track of the records
                and other official services.</p>

            <button type="submit"><a href="{{ url_for('login_admin') }}" class="admin">Login Now</a></button>
        </form>
    </div>
    <div class="login-container2" id="userLogin">
        <h1>User Login</h1>
        <form id="UserLoginForm">
            <p>Login with your ID and Password to access your services and account. The LMS will keep the user
                notified about all updates.</p>

            <button type="submit"><a href="{{ url_for('login_user') }}" class="user">Login Now</a></button>
        </form>
    </div>

</body>

</html>